@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed');
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
    background: #7CBFDA;
	color: #FFF;
	font-weight: 200;
	font-size: 1.05em;
	font-family: 'Cabin Condensed', sans-serif;
    margin: 10px;
}

h1 {
	font-size: 50px;
	font-family: 'Grand Hotel', cursive;
    margin: 0;
    padding: 0;
}

.category {
    margin-bottom: 20px;
}

.category header h2 {
    font-size: 20px;
    margin: 0;
}

.category header p {
    margin: 0;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.9);
}

.category header {
    margin-bottom: 10px;    
}

.category li a {
    padding: 5px;
    font-family: monospace;
}

.category li p {
    color: #444;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

h1 a:link { color: #FFF; text-decoration: none; }
h1 a:visited { color: #FFF; text-decoration: none; }
h1 a:hover { color: #FFF; text-decoration: underline; }
h1 a:active { color: #FFF; text-decoration: none; }

.category li a:link { color: #333; text-decoration: none; background: rgba(255, 255, 255, 0.4); }
.category li a:visited { color: #333; text-decoration: none; background: rgba(255, 255, 255, 0.4); }
.category li a:hover { color: #333; text-decoration: none; background: rgba(255, 255, 255, 0.5); }
.category li a:active { color: #333; text-decoration: none; background: rgba(255, 255, 255, 0.4); }

.category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.category li {
    background: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-top: rgba(255, 255, 255, 0.5) 4px solid;
    margin-bottom: 10px;
}

