@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed');
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #7CBFDA;
	color: #FFF;
	font-weight: 200;
	font-size: 1.05em;
	font-family: 'Cabin Condensed', sans-serif;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #6EAAC2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #6EAAC2;
	opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #6EAAC2;
	opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #6EAAC2;
}
::-ms-input-placeholder { /* Microsoft Edge */
	color: #6EAAC2;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
	padding: 20px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 300px;
}

#canvas {
	margin-top: 10px;
}

input[type="text"] {
	color: #FFF;
	background: none;
	display: block;
	margin: 0;
	width: 100%;
	font-size: 2em;
	appearance: none;
	box-shadow: none;
	border-radius: none;
}

input[type="text"].valid-command {
	color: #FFF134;
}

input[type="text"]:focus {
	outline: none;
}

input[type="text"] {
	border: none;
}
